pytest
paho-mqtt

pip_services4_messaging >= 0.0.1, < 1.0
pip-services4-commons  >= 0.0.1, < 1.0
pip-services4-components >= 0.0.1, < 1.0
pip-services4-config >= 0.0.1, < 1.0
pip-services4-observability >= 0.0.1, < 1.0
pip-services4-data >= 0.0.1, < 1.0
