pytest
redis

pip_services4_commons >= 0.0.1, < 1.0
pip_services4-components >= 0.0.1, < 1.0
pip_services4_config >= 0.0.1, < 1.0
pip_services4_observability >= 0.0.1, < 1.0
pip_services4_persistence >= 0.0.1, < 1.0